bucket         = "replace-with-terraform-state-bucket"
key            = "terraform-gitops-delivery-platform/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "replace-with-lock-table"
encrypt        = true
